<section style="background-color: #000000; padding: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="text-center text-white" data-aos="fade-up" data-aos-duration="800">
                <h2 class="" style="font-size: 2rem;">VENTA</h2>
                <!-- <h2 class="mb-1">Departamentos</h2>
                <h2 class="mb-1">Cocheras</h2>
                <h2 class="mb-2">Local Comercial</h2> -->
                <h3 class="mb-4" style="font-style: italic;">Uso residencial o Profesional</h3>
            </div>
        </div>

        <!-- dividio en 2 cols -->
        <div class="row row-cols-2">
            <div class="col" style="border-right: 2px solid white; display: flex;
        flex-direction: column;
        align-self: center;" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;">16 UF </h3>
                <p class="text-center text-white" style="margin-bottom: 0;"> 1 y 2 amb</p>
            </div>
            <div class="col" style="display: flex;
        flex-direction: column;
        align-self: center;" data-aos="fade-up" data-aos-duration="2000">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;"> 83 <small
                        class="font-weight-bold"> M2 </small>
                </h3>
                <p class="text-center text-white" style="margin-bottom: 0;"> Superficie</p>
            </div>

        </div>

        <!-- dividido en 3 cols -->

        <!-- <div class="row row-cols-3">
            <div class="col" style="border-right: 2px solid white; display: flex;
            flex-direction: column;
            align-self: center;" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;">16 UF </h3>
                <p class="text-center text-white" style="margin-bottom: 0;"> 1 y 2 amb</p>
            </div>
            <div class="col" style="border-right: 2px solid white; display: flex;
            flex-direction: column;
            align-self: center;" data-aos="fade-up" data-aos-duration="2000">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;"> 83 <small class="font-weight-bold"> M2 </small>
                </h3>
                <p class="text-center text-white" style="margin-bottom: 0;"> Superficie</p>
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="3000" style="display: flex;
            flex-direction: column;
            align-self: center;">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;"> Local</h3>
                <p class="text-center text-white" style="margin-bottom: 0;">Al frente</p>
            </div>
        </div> -->

        <!-- <div class="row row-cols-3">
            <div class="col" style="border-right: 2px solid white;  display: flex;
            flex-direction: column;
            align-self: center;" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;">DEPARTAMENTOS </h3>
                <p class="text-center text-white" style="margin-bottom: 0;"> 1 y 2 amb</p>
            </div>
            <div class="col" style="border-right: 2px solid white;  display: flex;
            flex-direction: column;
            align-self: center;" data-aos="fade-up" data-aos-duration="2000">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;"> COCHERAS <small class="font-weight-bold"> M2
                    </small>
                </h3>
                <p class="text-center text-white" style="margin-bottom: 0;"> Superficie</p> 
            </div>
            <div class="col" data-aos="fade-up" data-aos-duration="3000" style=" display: flex;
            flex-direction: column;
            align-self: center;">
                <h3 class="text-center font-weight-bold text-white" style="margin-bottom: 0;"> LOCAL</h3>
                <p class="text-center text-white" style="margin-bottom: 0;">COMERCIAL</p>
            </div>
        </div> -->



    </div>
</section>


<!-- 3 COLUMNS FOR ALL DEVICES -->
<!-- <section style="background-color: brown;">
        <div class="container-fluid" style="padding: 20px;">

            <div class="row">

                <article class="col">
                    <h3>2 y 3</h3>
                    <p> Dormitorios</p>
                </article>
                <article class="col">
                    <h3>2 y 3</h3>
                    <p> Dormitorios</p>
                </article>
                <article class="col">
                    <h3>2 y 3</h3>
                    <p> Dormitorios</p>
                </article>
            </div>
        </div>
    </section> -->